<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1>Question</h1>
    <p>
      What is <%= question.num1 %> <%= question.operation %> <%= question.num2
      %>?
    </p>
    <form action="/quiz/submit" method="POST">
      <input type="text" name="answer" required />
      <button type="submit">Submit</button>
    </form>
    <form action="/quiz/submit" method="POST">
      <input type="hidden" name="endQuiz" value="true" />
      <button type="submit">End Quiz</button>
    </form>
    <p>Current Streak: <%= streak %></p>
  </body>
</html>
